<!--start holder-->
<div class="holder_content">
<% title "Fortunes" %>
<%  @i = 1 %>
<% for fortune in @fortunes %>

<section class="group<%=@i%>">
<h1> <%= fortune.author %></h1>
 <div> <%= fortune.body %></div>
 <span class='button'><%= link_to "Show", fortune  %></span>
  <span class='button'><%= link_to "Edit", edit_fortune_path(fortune) %></span>
 <span class='button'><%= link_to "Destroy", fortune, :confirm => 'Are you sure?', :method => :delete %></span>
   </section>
	<%@i = @i+1%>
	<% if @i==4
		@i=1
	break
	  end %>
<% end %>
 </div>
   <!--end holder-->
   <div>
 <%= paginate @fortunes %>
   </div>

