 <!--start holder-->
   <div class="holder_content1">
   
   <section class="group4">
	   <h2>Wyszukaj fortunke:</h2>
 
  <%= form_tag fortunes_path, :method => :get, :remote => true , :id => "fortunes_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
   </article> 
   
   </section>

   </div>
   <!--end holder-->

<!--start holder-->
<div class="holder_content">
<div id="fortunes">
<%= render :partial => 'fortune', :collection => @fortunes  %>
</div>
 </div>
 
 
 
   <!--end holder-->
<div id="paginator">
  <%= paginate @fortunes, :remote => true %>
</div>

