 <!--start holder-->
   <div class="holder_content1">
   
   <section class="group4">
	   <h2>Wyszukaj fortunke:</h2>
   <%= form_tag fortunes_path, :method => :get, :id => "fortunes_search" do %>
	
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Szukaj", :name => nil %>
	
	<% end %>
   </article> 
   
   </section>

   </div>
   <!--end holder-->

<!--start holder-->
<div class="holder_content">

<%  @i = 1 %>
<% for fortune in @fortunes %>

<section class="group<%=@i%>">
<h1> <%= fortune.author %></h1>
 <div class="fortune"> <%= fortune.body %></div>
 <span class='button1'><%= link_to "Show", fortune %></span>
  <span class='button2'><%= link_to "Edit", edit_fortune_path(fortune) %></span>
 <span class='button3'><%= link_to "Destroy", fortune, :confirm => 'Are you sure?', :method => :delete %></span>
   </section>
	<%@i = @i+1%>
	<% if @i==4
		@i=1
	  end %>
<% end %>
 </div>
   <!--end holder-->
   <div>
 <%= paginate @fortunes %>
   </div>

