<div class="holder_content1">
   
   <section class="group4">
   <h1> <%= @fortune.author %></h1>
   <img src="images/icon3.png" width="51" height="52" alt="icons" class="icons"/>

   <article>
   <p class="fortune">  <%= @fortune.body %></p>
   
    <span class='button1'><%=link_to "View All", fortunes_path  %></span>
  <span class='button2'><%= link_to "Edit", edit_fortune_path(@fortune) %></span>
 <span class='button3'><%=link_to "Destroy", @fortune, :confirm => 'Are you sure?', :method => :delete %></span>
<div>&nbsp;<br />&nbsp;<br />&nbsp;</div>
 </article> 
 
 <div>
 <h2>Add new comment</h2>
<%= render :partial => 'comments/form' %>
 </div><div>&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;</div>
 <div>
  <% if @fortune.comments.any? %>
  <h2>Comments</h2>
  <%= render :partial => 'comments/comment', :collection => @fortune.comments %>
<% end %>
</div>

     </section>
   </div>
