<div class="holder_content1">
   
   <section class="group4">
   <h1> <%= @fortune.author %></h1>
   <div class="icons">
   <%= image_tag("icon3.png", :width=>"51", :height=>"52", :alt=>"icons") %>
   <!-- img src="images/icon3.png" width="51" height="52" alt="icons" class="icons"/-->
	</div>
   <article>
   <p class="fortune">  <%= @fortune.body %></p>
   
    <span class='button1'><%=link_to "View All", fortunes_path  %></span>
 
 <% if can? :update, @fortune %>
  <span class='button2'><%= link_to "Edit", edit_fortune_path(@fortune) %></span>
  <% end %>
  <% if can? :destroy, @fortune %>
 <span class='button3'><%= link_to "Destroy", @fortune, :confirm => 'Are you sure?', :method => :delete %></span>
   <% end %>
 
<div>&nbsp;<br />&nbsp;<br />&nbsp;</div>
 </article> 
 
 <div>
 <% if can? :create, Comment %>
 <h2>Add new comment</h2>
<%= render :partial => 'comments/form' %>
<% end %>
 </div><div>&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;</div>
 <div>
  <% if @fortune.comments.any? %>
  <h2>Comments</h2>
  <%= render :partial => 'comments/comment', :collection => @fortune.comments %>
<% end %>
</div>
<br />
<div>
<iframe src="http://www.facebook.com/plugins/like.php?href="<%=request.url%>"&layout=standard&show_faces=true& width=200&action=like&colorscheme=light&height=80"scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
<br />
<g:plusone size="medium"></g:plusone>
</div>
     </section>
   </div>
