<!doctype html>  
<head>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<%= auto_discovery_link_tag(:atom, fortunes_path(:atom)) %>
<meta charset="UTF-8">
<title><%= content_for?(:title) ? yield(:title) : "Fortunes" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
<link rel="icon" href="/assets/favicon.gif" type="image/x-icon"/>
 <!--[if lt IE 9]>
 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

<link rel="shortcut icon" href="images/favicon.gif" type="image/x-icon"/> 
<link rel="stylesheet" type="text/css" href="css/styles.css"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script src="js/slides.min.jquery.js"></script>
	<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: 'images/loading.gif',
				play: 5000,
				pause: 2500,
				hoverPause: true
			});
		});
	</script>


    </head>
    <body>
    <!--start container-->
    <div id="container">

    <!--start header-->

    <header>
 
    <!--start logo-->
    <a href="/" id="logo">
    <%= image_tag("fortunka_logo.png", :width=>"221", :height=>"130", :alt=>"logo") %>
    <!--img src="images/logo.png" width="221" height="130" alt="logo"/ -->
    </a>    

	<!--end logo-->
	
   <!--start menu-->
	<div>
	<nav>
    <ul>
    <% if can? :create, Fortune %>
  <li><%= link_to 'New Fortune', new_fortune_path %></li>
	<% end %>
	<li><%= link_to "Losuj!", random_path %></li>
    <!--li><a href="#">News</a></li -->
    <!-- li><a href="#">Contact</a></li -->
    </ul>
    </nav>
    </div>
    <br />
     <div id="authentication">
	<% if user_signed_in? %>
    Logged as <%= current_user.email %>. Not you?
    
    <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
		<% else %>
    <%= link_to "Register", new_user_registration_path %> or
    <%= link_to "Login", new_user_session_path %>
  <% end %>
</div>
   
	<!--end menu-->
	

    <!--end header-->
	</header>


   <!--start intro-->

   <section id="intro">
   <div id="slides">
   <div class="slides_container">
   <%= image_tag("ban2.png", :width=>"960", :height=>"300", :alt=>"baner") %>
   <%= image_tag("ban3.png", :width=>"960", :height=>"300", :alt=>"banner") %>
   <%= image_tag("ban1.png", :width=>"960", :height=>"300", :alt=>"banner") %>
   <!-- img src="images/banner1.png" width="960" height="300" alt="baner" TO RAZY 3 -->
   </div>
   </div>
 
   </section>
   <!--end intro-->
   
      <% flash.each do |name, msg| %>
       <%= content_tag :div, msg, :id => "#{name}" %> 
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
       <%= javascript_include_tag "rails", "application" %>
  
   
   </div>
   <!--end container-->
   
   <!--start footer-->
   <footer>
   <div class="container">
   <!--section class="footer_left">
   <h3>Contact information:
   <span>Lorem ipsum dolor sit amet</span>
   <span>Lorem ipsum dolor sit amet</span>
   </h3>
   </section> 
   
   <section class="footer_left">
   <h3>Website:
   <span>Lorem ipsum dolor sit amet</span>
   <span>Lorem ipsum dolor sit amet</span>
   </h3>
   </section> 

   
   <aside class="footer_left">
   <h3>Lorem ipsum:
   <span>Lorem ipsum dolor sit amet</span>
   <span>Lorem ipsum dolor sit amet</span>
   </h3>
   </aside --> 
   
  <%=image_tag("contact-us.png", :alt=>"contact", :class=>"picture_footer", :width=>"240", :height=>"240")%>
   <!--img src="images/contact-us.png" width="240" height="230" alt="contact" class="picture_footer"/ -->
    
   <div id="FooterTwo"> © 2011 Online solutions </div>
   <div id="FooterTree"> Valid html5 / design and code by <a href="http://www.marijazaric.com">marija zaric - creative simplicity</a> </div> 
   </div>
   </footer>
   <!--end footer-->
 <!-- Free template distributed by http://freehtml5templates.com -->  
   </body></html>
